.App {
  width: 400px;
  padding:40px 0 50px;;
  text-align: center;
}
.App-form {
  margin: 20px;
}
.App-input {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  box-sizing: border-box;
  border: thin solid #000;
}

.App-submit {
  margin-top: 16px;
  width:100%;
  background-color: #000;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
}